h1 {
    padding: 0;
    margin: 0;
}
.bordered {
    border: 1px solid #ddd;
}

#header {
    padding-top: 5px;
}

#header h2 {
    padding: 0;
    margin: 0;
}

#header div {
    height: 115px;
    overflow: hidden;
}

.widget {
    padding: 5px;
    margin: 5px;
    overflow: hidden;
}

.widget img.graph {
    width: 320px;
}

.widget h2 {
    padding: 0px;
    margin: 0px;
    font-size: 125%;
}

.widget ul li {
    list-style: none;
    margin-left: 5px;
}

.widget ul li img {
    width: 20px;
    height: 20px;
}

ul.address, li.address {
    list-style: none;
}

.weather img {
    float: left;
    padding: 5px;
    width: 16px;
    height: 16px;
}

th {
    text-align: left;
}
td.numeric {
    text-align: right;
}

a {
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}
div.education_news ul, div.education_news ul li {
    list-style: none;
}

.notable_events li a.action {
    font-size: 75%;
}

.widget.notable_events ul li img {
    padding-right: 5px;
    float: left;
    width: 25px;
    height: auto;
}