<div style="float: left">
    <img src="/images/student_picture.jpg">
</div>
<div style="float: right">
<ul class="address">
<li class="address"><b>Name</b>: Nick Smith</li>
<li class="address"><b>Grade</b>: 11</li>
<li class="address"><b>Birthdate</b>: 06/09/98</li>
</ul>
</div>