<ul class="address">
<li class="address"><b>Allie Smith</b></li>
<li class="address">421 WHITNEY AVE APT 3</li>
<li class="address">Fremont, CA 06511-2342</li>
<li class="address">Phone: 860-559-6584</li>
<li class="address">Email: <a href="#">AllieSmith@gmail.com</a></b></li>
</ul>