<strong>Mother:</strong>
<ul class="address">
<li class="address"><b>Allie Smith</b></li>
<li class="address">421 WHITNEY AVE APT 3</li>
<li class="address">Fremont, CA 06511-2342</li>
<li class="address">United States</li>
<li class="address">Phone: 860-559-6564</li>
<li class="address">Email: AllieSmith@gmail.com</b></li>
</ul>