<div style="float: left">
    <img src="/images/teacher_picture.jpg">
</div>
<div style="float: right">
<ul class="address">
<li class="address"><b>Name</b>: Manuel Santiago</li>
<li class="address"><b>Birthdate</b>: 06/09/98</li>
<li class="address"><b>Vacation Days</b>: 7</li>
<li class="address"><b>Sick Days</b>: 2</li>
</ul>
</div>