<div class="container_24">
  <div class="grid_22">
    <h1 style="font-size: 200%">We're empowering Principals with Data</h1>
    <b>Solving these problems and more, at a glance</b>
    <ul>
      <li>What teachers are absent today, and which substitutes do I need to check on?</li>
      <li>Which students are reaching chronically absent levels</li>
    </ul>

    <h1 style="float: right; font-size: 200%;padding-right:100px;">Check out the <a href="/pages/dashboard">Principal Dashboard</a></h1>
  </div>
</div>
<br/>
<br/>
<br/>
<br/>