<%
users = [
  {:name => "Erica Bensen", :image => "/images/student_picture.jpg", :grade => "11th"},
  {:name => "Neil Swan", :image => "/images/student_picture2.jpg", :grade => "10th"},
  {:name => "Josh Bender", :image => "/images/student_picture3.jpg", :grade => "12th"}
]
%>
<div class="container_24">
  <div class="grid_20">
    <h1>
      <% if params[:bucket] %>
      Students with <%= params[:bucket].to_s.gsub("_", " ") -%> absent
      <% else %>
      Search Results
      <% end %>
    </h1>
  </div>
</div>
<div class="container_24">
  <div class="grid_20">
    <a href="/pages/dashboard">Back to dashboard</a>
  </div>
</div>
<div class="container_24">
  <div class="grid_22">
    <% users.each do |u| %>
    <div class="tile">
            <a href="/pages/student_detail"><img src="<%= u[:image] -%>"></a><br/>
      <a href="/pages/student_detail"><%= u[:name] -%></a>
    </div>
    <% end %>
  </div>
</div>
<script type="text/javascript">
$(".tile").hover(
  function () {
    $(this).addClass("hover");
  },
  function () {
    $(this).removeClass("hover");
  }
);
</script>