<div class="container_24">
  <div class="grid_20">
    <h1>Teacher Details</h1>
  </div>
</div>
<div class="container_24">
  <div class="grid_20">
    <a href="/pages/dashboard">Back to dashboard</a>
  </div>
</div>